{% extends "base.html "%}
{% load static %}
{% block content%}
{% with prod_id=prod.prod_id prod_img=prod.prod_img prod_brand=prod.prod_brand prod_model=prod.prod_model prod_price=prod.prod_price %}
<div id="detail_container" class="main_content">
    <div id="prod_foto_{{ prod_id }}" class="detail_prod_foto">
        <img class="img_container_dim" src="{% static 'prod_images/' %}{{ prod_img }}" alt="Product {{ prod_img }}">
    </div>
    <div id="detail_text">
        <div id="detail_text_content">
            <div id="prod_brand_{{ prod_id }}" class="prod_text">
                <span>{{ prod_brand }}</span>
            </div>
            <div id="prod_model_{{ prod_id }}" class="prod_text">
                <span>{{ prod_model }}</span>
            </div>
            <div id="prod_price_{{ prod_id }}" class="price_text">
                <span>Pret {{ prod_price }} Lei</span>
            </div>
            <div id="prod_desc_{{ prod_id }}" class="prod_text">
                <br><br><br>
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras maximus consequat mattis. Nullam nulla orci, porttitor ac sapien id, dignissim vehicula ligula. Vivamus vel nulla arcu.</span>
                <span> Aliquam ut elit iaculis, laoreet orci sit amet, egestas ante. </span>
            </div>
        </div>
    </div>
</div>
{% endwith %}
{% endblock %}